.image {
    width: 100%;
}

.Navigate {
    text-align: center;
    list-style-type: none;
    font-weight: 200;
  }

.container{
    width: 100%;
    font-size: var(--font-size-sm);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Hcontainer{
    vertical-align: middle;
    width: 100%;
    font-size: var(--font-size-sm);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list {
    flex-basis: 100;
    font-weight: 800;
    color: rgb(17,17,17);
}
