.Navigate {
    text-align: center;
    list-style-type: none;
    font-weight: 200;
  }

.container{
    font-size: var(--font-size-sm);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list {
    flex-basis: 100;
}
