.header {
  background-color: rgb(23, 23, 23);
  color: rgb(237, 237, 237);
  padding: 10px;
}

.header-top {
  text-align: center;
  font-size: 12px; /* 글자 크기 작게 조정 */
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
}