.session-content {
    padding: 20px;
    text-align: center;
    min-height: 600px; /* 최소 높이 설정 */
  }
  
  .session-header {
    margin-bottom: 40px;
  }
  
  .session-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .session-header p {
    font-size: 16px;
  }
  
  .session-body .team {
    margin-bottom: 40px;
  }
  
  .session-body .team h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .session-body .team p {
    font-size: 14px;
  }