.split-screen {
  display: flex;
  height: 100vh;
}

.half-screen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: flex 1s ease-in-out;
}

.day {
  background-color: rgb(237, 237, 237);
  color: rgb(23, 23, 23);
}

.night {
  background-color: rgb(23, 23, 23);
  color: rgb(237, 237, 237);
}

.intro {
  text-align: center;
}

.large-text {
  font-size: 50px;
  margin-bottom: 10px;
}

.description {
  font-size: 15px;
  font-weight: 600;
}